@page "/"
@inject NotificationService notificationService
<PageTitle>Index</PageTitle>

<h1 class="text-center">Abraham El Hage Jreij (2021-0428)</h1>
<h3>Programaci&oacute;n Aplicada 1 2023-03</h3>

<button @onclick="MostrarNotificaciones">Prueba</button>

@code
{
    public void MostrarNotificaciones()
    {
        var mensaje = new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Ejemplo",
                Detail = "Pruebaaaaaaaaa",
                Duration = 4000
            };
        notificationService.Notify(mensaje);
    }
}